[submodule "src/go-mettring"]
	path = src/go-mettring
	url = https://github.com/ChristianKniep/go-mettring.git
	branch = fullerite
[submodule "mettring"]
	path = src/mettring
	url = https://github.com/ChristianKniep/go-mettring.git
	branch = fullerite
